# macOS
.DS_Store

# Xcode / iOS
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/
# (no ignores Podfile.lock: se recomienda versionarlo)

# Carthage (si lo usas)
Carthage/Build/

# Editores
.vscode/
.idea/
